<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <img width="100vw" src="https://www.pngkey.com/png/full/5-58336_heartbeat-png-red-vector-free-heartbeat-with-heart.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item ">
          <a class="nav-link text-danger" href="/ballina">Ballina</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Regjistro
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/regjistro-dhurues.html">Regjistro Dhurues</a>
            <a class="dropdown-item" href="/regjistro-marres.html">Regjistro Marres</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="/lista-dhuruesve">Lista e Dhuruesve</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-danger" href="/lista-marresve">Lista e Marresve</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="/depozita">Depozita</a>
</li>

      
         
      </ul>
      
    </div>
  </nav>